<h1> Sign Up </h1>

<form action="/users" method="post">
    <label for="">Email:
        <input type="email" name="user[email]">
    </label>
    <label for="">Password:
        <input type="password" name="user[password]">
    </label>
    <br>

    <input type="submit" value="Sign Up">

</form>